<div class="container">
  <h1><%= @product.name %></h1>
  <h1><%= @product.price %></h1>
  <p><%= link_to "Return to products", products_path, class: "btn btn-info" %></p>
  <p><%= link_to "add image to products", new_product_path, class: "btn btn-info" %></p>
<div>
